
/* Common css ============================= */

:root {
  --Grey---1: #8a8a8a;
  --Gray---2: #bab7b7;
  --Grey---3: #4b4b4b;
  --Blue---100: #2b59ff;
  --White---100: #fafafa;
  --White---200: #ffffff;
  --Black---100: #12141d;
  --Back---200: #21263c;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex_wrap {
  flex-wrap: wrap;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.items_center {
  align-items: center;
}

.direction_column {
  flex-direction: column;
}

.text_center {
  text-align: center;
}

.container {
  max-width: 1728px;
  width: 100%;
  padding-right: 204px;
  padding-left: 204px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

.cta_btn a {
  display: inline-block;
  color: var(--White---100, #fafafa);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  padding: 18px 40px;
  border-radius: 50px;
  background: var(--Blue---100, #2b59ff);
  box-shadow: 0px 12.632px 50.529px 0px rgba(254, 134, 103, 0.1);
}

.cta_btn a:hover {
  background: var(--White---200);
  color: var(--Black);
  transition: 1s;
}
/* Common css end ========================= */

/* header-section ========================= */
#header {
  background-color: var(--Black---100);
  padding-bottom: 467px;
}

/*--- Navbar-area --- */
.nav_head {
  padding: 22px 0;
}

.logo {
  width: 120px;
  height: 37px;
}

.main_menu {
  gap: 36px;
}

.main_menu a {
  color: #bab7b7;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.main_menu a:hover {
  color: var(--Blue---100);
  transition: 1s;
}

.hamburger {
  display: none;
  font-size: 30px;
  position: absolute;
  right: 50px;
  top: 33px;
  color: var(--White---100);
}

nav.active_nav {
  position: fixed;
  width: 100%;
  background: var(--Black---100);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
  z-index: 101;
}
/*--- Navbar-area end --- */

/*--- hero-area --- */
.hero_content {
  max-width: 704px;
  width: 100%;
  margin: 0 auto;
}

.hero_content h2 {
  color: var(--White---100);
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}

.hero_content h2 span {
  color: var(--Blue---100);
  text-decoration-line: underline;
}

.hero_content p {
  color: var(--White---100);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  padding-block: 24px 48px;
}

/*--- thambnail-area --- */
.thambnail_img {
  display: flex;
  justify-content: center;
  margin-top: -386px;
}

.thambnail_img img {
  max-width: 1096px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding-inline: 50px;
}
/*--- thambnail-area end --- */
/* header-section end ===================== */

/* brand-logo-section ===================== */
.brand_logo_container {
  padding: 120px 160px 0px 160px;
}

.brand_logo_content h2 {
  color: #21263c;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  padding-bottom: 36px;
}

.brand_logo_content span {
  color: var(--Blue---100);
  font-size: 30px;
  text-transform: capitalize;
}

.brand_logo_content .than {
  color: #21263c;
  text-transform: lowercase;
}
/* brand-logo-section end ================= */

/* Services-section ======================= */
.Service_container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.Service_head_content {
  max-width: 632px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.Service_head_content h2 {
  color: var(--Black---100);
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
  padding-bottom: 16px;
}

.Service_head_content span {
  color: var(--Blue---100);
}

.Service_head_content p {
  color: var(--Grey---3);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 38px;
}

.Service_card {
  gap: 40px 32px;
}

.card_box {
  max-width: 306px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  background-color: var(--White---100);
  padding: 20px;
  transition: 1s;
}

.card_box:hover {
  background-color: var(--Blue---100);
}

.card_box:hover h2,
.card_box:hover p {
  color: var(--White---100);
}

.card_img {
  width: 56px;
  height: 56px;
  background-color: var(--White---100);
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  padding: 14px;
  margin-bottom: 32px;
}

.card_content h2 {
  color: var(--Black---100);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.card_content p {
  color: var(--Grey---1);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
/* Services-section end =================== */

/* cyber-security-section ================= */
#cyber_security {
  padding-top: 125px;
  padding-bottom: 125px;
  background: #f9fafc;
}

.cyber_security_head_content {
  max-width: 632px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 48px;
}

.cyber_security_head_content h2 {
  color: var(--Black---100);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 16px;
}

.cyber_security_head_content p {
  color: var(--Grey---3);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.cyber_box {
  gap: 159px;
}

.cyber_img_container {
  max-width: 744px;
  width: 100%;
}

.cyber_img img {
  max-width: 744px;
  width: 100%;
}

.cyber_img {
  display: none;
}

.active {
  display: block;
}

.cyber_content_container {
  max-width: 416px;
  width: 100%;
}

.cyber_tabs {
  padding: 20px;
}

.cyber_tabs:hover {
  border-radius: 8px;
  background: var(--White---200);
  box-shadow: 0px 4px 4px 0px rgba(35, 40, 105, 0.08);
}

.card_img_head {
  gap: 20px;
}

.card_img_head img {
  padding: 14px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--Gray---2);
  border-radius: 50%;
}

.card_img_head h2 {
  color: var(--Black---100);
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.card_img_head span {
  text-transform: lowercase;
}

.cyber_tabs p {
  color: var(--Grey---3);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  padding-left: 70px;
}
/* cyber-security-section end ============= */

/* about-us-section ======================= */
#about_us {
  background-color: var(--Black---100);
  position: relative;
  margin-bottom: 125px;
}

.vector .vector-1 {
  position: absolute;
  bottom: 25px;
  right: 0;
}

.vector .vector-2 {
  position: absolute;
  top: 0;
  left: 0;
}

.about_us_container {
  gap: 84px;
  padding-top: 125px;
}

.about_img {
  max-width: 668px;
  width: 100%;
}

.about_img img {
  max-width: 668px;
  width: 100%;
}

.ab_con_container {
  max-width: 621px;
  width: 100%;
}

.about_us_content h2 {
  width: 429px;
  color: var(--White---100);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 12px;
}

.about_us_content p {
  color: var(--White---100, #fafafa);
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  margin-bottom: 32px;
}

.ratingt_esting {
  gap: 67px;
}

.rating_rat h2 {
  color: var(--Blue---100);
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 14px;
}

.rating_rat p {
  color: var(--White---100);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 48px;
}

.about_us_container .cta_btn {
  padding-bottom: 125px;
}
/* about-us-section end =================== */

/* stract-works-section =================== */
.stract_works_container {
  margin-bottom: 125px;
}

.stract_works_head_content {
  max-width: 632px;
  width: 100%;
  margin: 0 auto;
}

.stract_works_head_content h2 {
  color: var(--Black---100);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 16px;
}

.stract_works_head_content p {
  color: var(--Grey---3);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 56px;
}

.stract_works_card {
  align-items: baseline;
}

.stract_works_box {
  max-width: 266px;
  width: 100%;
}

.stract_works_img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 40px;
  background-color: var(--Black---100);
  margin-bottom: 32px;
}

.stract_works_img h2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: var(--White---200);
  background-color: var(--Black---100);
  border-radius: 50%;
  border: 3px solid var(--White---100);
}

.stract_works_img:hover,
.stract_works_img:hover h2 {
  transition: 0.5s;
  background-color: var(--Blue---100);
}

.stract_works_content h2 {
  color: var(--Black---100);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 16px;
}

.stract_works_content p {
  color: var(--Grey---1);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
/* stract-works-section end =============== */

/* Contact_us-section ===================== */
.contact_us_plans_container {
  background-color: var(--Blue---100);
  padding: 80px 0;
  border-radius: 8px;
  position: relative;
  margin-bottom: -185px;
  z-index: 1;
}

.contact_us_plans_content {
  max-width: 603px;
  width: 100%;
  margin: 0 auto;
}

.contact_us_plans_content h2 {
  color: var(--White---200);
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 16px;
}

.contact_us_plans_content p {
  color: var(--White---200);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 48px;
}

.contact_us_plans_content .cta_btn a {
  background-color: var(--Black---100);
  color: var(--White---200);
}
/* Contact-us-section end ================= */

/* footer-section ========================= */
.footer_box {
  background-color: var(--Black---100);
}

.footer_container {
  padding-top: 291px;
}

.brand_con {
  max-width: 379px;
  width: 100%;
  margin-right: 135px;
}

.brand_con img {
  width: 120px;
  height: 37px;
  margin-bottom: 32px;
}

.brand_con h2 {
  color: #b9b3b3;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px;
}

.social_icon {
  gap: 10px;
}

.social_icon a {
  color: #fff;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-radius: 50%;
  background: #4b4b4b;
  font-size: 15px;
  font-weight: 400;
}

.social_icon a .fa-facebook-f {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--Blue---100);
}

.footer_service {
  gap: 70px;
  padding-bottom: 100px;
}

.company_service h2 {
  color: var(--White---100);
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 32px;
}

.company_service li a {
  display: inline-block;
  padding-bottom: 20px;
  color: #b9b3b3;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.footer_Help h2 {
  color: var(--White---100);
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 32px;
}

.footer_Help li a {
  display: inline-block;
  padding-bottom: 20px;
  color: #b9b3b3;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.footer_subscribe h2 {
  color: var(--White---100);
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 32px;
}

/* .footer_input input {
  border-radius: 8px 0px 0px 8px;
  background-color: var(--White---200);
  padding: 17px 16px 17px 20px;
  gap: 13px;
  border: none;
  outline: none;
}

.footer_input .cta {
  padding: 16px 40px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 0px 8px 8px 0px;
  background-color: var(--Blue---100);
}

.footer_input .cta a {
  color: var(--White---100, #fafafa);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
} */

.footer_bottom {
  border-top: 1px solid var(--Grey---1);
}

.footer_bottom p {
  padding: 36px 0;
  color: var(--White---100);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.subscribe{
  position: relative;
}
.subscribe input {
	border-radius: 8px 0px 0px 8px;
	background-color: var(--White---200);
	padding: 22px 20px 22px 20px;
	border: none;
	outline: none;
}

.subscribe input[type="submit"] {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
	padding: 16px 40px;
	flex-shrink: 0;
	padding: 16px 40px;
	border-radius: 0px 8px 8px 0px;
	background-color: var(--Blue---100);
  color: var(--White---200);
	position: absolute;
}
/* footer-section end ===================== */

/* responsive-section ===================== */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  
  .container {
    padding-inline: 100px;
  }

  #header {
    padding-bottom: 467px;
  }

  .thambnail_img {
    margin-top: -386px;
  }

  .brand_logo_container {
    padding: 120px 0px 0px 0px;
  }

  .cyber_box {
    gap: 50px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

  .cyber_img_container {
    max-width: 465px;
    width: 100%;
  }

  .cyber_img img {
    max-width: 465px;
    width: 100%;
    margin-top: 115px;
  }

  .cyber_content_container {
    max-width: 350px;
    width: 100%;
  }

  .cyber_box {
    justify-content: space-between;
  }

  .brand_logo {
    justify-content: center;
    gap: 20px;
  }

  .about_us_container {
    gap: 30px;
    justify-content: space-between;
  }

  .about_img {
    max-width: 550px;
    width: 100%;
  }

  .about_img img {
    max-width: 100%;
  }

  .ab_con_container {
    max-width: 400px;
    width: 100%;
  }

  .arrow {
    max-width: 140px;
    width: 100%;
  }

  .footer_service {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .brand_con {
    margin-right: 0;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  .container {
    padding-inline: 50px;
  }

  .nav_head {
    display: flex;
    align-items: center;
  }

  .main_menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.8);
    display: none;
  }

  .main_menu li {
    padding: 20px 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #555;
  }

  .main_menu li:first-child {
    border-top: 0;
  }

  .main_menu li:last-child {
    border-bottom: 0;
  }

  .main_menu a {
    padding-left: 50px;
  }

  .hero_content h2 {
    font-size: 50px;
  }

  .hero_content p {
    font-size: 16px;
  }

  .Service_head_content h2 {
    font-size: 50px;
  }

  .Service_head_content p {
    font-size: 16px;
  }

  .hamburger {
    display: block;
  }

  .nav_head,
  .cta_btn {
    padding-right: 5%;
  }

  #header {
    padding-bottom: 426px;
  }

  .thambnail_img {
    margin-top: -345px;
  }

  .cyber_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column-reverse;
    gap: 0;
  }

  .cyber_img img {
    width: 100%;
    margin-top: 20px;
  }

  .cyber_img_container {
    max-width: 891px;
    width: 100%;
  }

  .cyber_img img {
    max-width: 891px;
    width: 100%;
    margin-top: 40px;
  }

  .cyber_content_container {
    max-width: 891px;
    width: 100%;
  }

  .cyber_box {
    gap: 10px;
  }

  .about_us_container {
    gap: 30px;
    flex-direction: column;
  }

  .about_img {
    max-width: 100%;
  }

  .ab_con_container {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_us_content h2 {
    width: auto;
  }

  .stract_works_card {
    gap: 30px;
  }

  .arrow {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

  .hero_content h2 {
    font-size: 40px;
  }

  .hero_content p {
    font-size: 16px;
  }

  .brand_logo {
    row-gap: 20px;
    column-gap: 20px;
  }

  .card_box {
    max-width: 100%;
  }

  .stract_works_card {
    flex-wrap: wrap;
    justify-content: center;
  }

}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .container {
    padding-inline: 30px;
  }

  .hero_content > .cta_btn {
    padding-right: 0;
  }

  .cta_btn a {
    font-size: 16px;
    font-style: normal;
    padding: 15px 35px;
  }

  .hamburger {
    right: 30px;
    top: 25px;
  }

  #header {
    padding-bottom: 40px;
  }

  .thambnail_img {
    margin-top: 0;
  }

  .brand_logo {
    flex-direction: column;
    justify-content: center;
  }

  .thambnail_img img {
    padding-inline: 20px;
  }
}

/* responsive-section end ================= */
